<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/estilo.css">
    <title>{{nombrePagina}}</title>
</head>

<body>
    <header class="site-header contenedor separador">
        <h2>{{nombrePagina}}</h2>

        {{#if tagline}}
        <p class="tagline">{{tagline}}</p>
        {{/if}}
    </header>
    <br>
    <div class="contenido-principal contenedor">
        {{#if messages}}
        <div class="alertas">
            {{#mostrarAlertas messages}}
            {{/mostrarAlertas}}
        </div>
        {{/if}}
        {{{body}}}
    </div>
    <script src="/js/collapsible.js"></script>
</body>

</html>