<main id="error404" class="contenedor">
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
                <br><br>
                <h2>Página no encontrada</h2>
            </div>
            <a href="/principal">Regresar al inicio</a>
        </div>
    </div>
</main>