<main class="contenedor">
    <form method="POST" action="/categoria/nuevaCategoria">
        <button type="button" class="collapsible" onmouseover="collapsible()">Ingresos y Egresos</button>
        <div class="content">

            <input name="nombre" class="form-control input-lg" type="text" id="nombre"
                placeholder="Nombre de Ingreso/Egreso" /><br>
            <input class="form-control input-lg" type="number" name="cantidad" id="cantidad"
                placeholder="Cantidad" /><br>
            <select name="tipo" id="tipo">
                <option value="1">Ingreso</option>
                <option value="2">Egreso</option>
            </select>
        </div>
        <div>
            <input type="submit" value="Crear Categoria"></input>
            <button><a href="/">Regresar</a></button>
        </div>
    </form>
</main>