<main class="contenedor">
  <div class="container-fluid center-meh-boi">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-1">
        <div class="box-of-stuff">
          <button class="btn btn-primary btn-lg btn-block"><a href="/categoria/nuevaCategoria">Agregar Ingresos o
              Egresos</a></button>
          <button class="btn btn-primary btn-lg btn-block"><a href="/editarPerfil">Editar perfil</a></button>
          <button class="btn btn-primary btn-lg btn-block"><a href="/presupuesto">Calculo de presupuesto</a></button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="results">
          <h1 class="title">Results</h1>
          <span class="emoji">
          </span>
          <div class="results-data">
            <p>Hit that submit button to see your results!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>