<main class="contenedor">
  <div class="container-fluid center-meh-boi">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-1">
        <div class="box-of-stuff">
          <button class="btn btn-primary btn-lg btn-block"><a href="/categoria/nuevaCategoria">Agregar Ingresos o
              Egresos</a></button>
          <br>
          <button class="btn btn-primary btn-lg btn-block"><a href="/editarPerfil">Editar perfil</a></button>
          <br>
          <button class="btn btn-primary btn-lg btn-block"><a href="/presupuesto">Calculo de presupuesto</a></button>
          <br>
        </div>
      </div>
    </div>
  </div>
</main>