<main class="contenedor">
  <div class="container-fluid center-meh-boi">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-1">
        <div class="box-of-stuff">
          <form>
            <input class="form-control input-lg" type="text" id="income" placeholder="Ingreso Mensual" />
          </form>
          <button class="btn btn-primary btn-lg btn-block"><a href="/nueva_categoria">Agregar Ingresos o
              Egresos</a></button>
          <button class="btn btn-primary btn-lg btn-block"><a href="/crearCuenta">Editar perfil</a></button>
          <button class="btn btn-primary btn-lg btn-block"><a href="/iniciarSesion">Calculo de préstamo</a></button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="results">
          <h1 class="title">Results</h1>
          <span class="emoji">
          </span>
          <div class="results-data">
            <p>Hit that submit button to see your results!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>