.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #cfd3d2;
}

.retorno {
  width: 315px;
  border: 1px solid #ebebeb;
  background: #fff;
  height: 48px;
  padding: 0 25px;
  border-radius: 50px;
  font-family: "Futura", sans-serif;
  font-size: 16px;
  margin-right: 8px;
  margin-bottom: 20px;
}
